html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/geometry2.png")
}

.title {
    text-align: center;
}

.wrapper {
    display: block;
}

.item {
    display: inline-block;
    margin-top: 5px;
    overflow: hidden;
}

.paper-btn.btn-discord-outline {
    background-color: white;
    color: #7289da;
    border-color: #7289da;
}

.paper-btn.btn-discord-outline:hover {
    background-color: #d5d9e6;
}

.paper-btn.btn-discord-outline:hover:active {
    background-color: #b4bcdb;
}

.item-boarder {
  border-bottom-left-radius: 5px 255px;
  border-bottom-right-radius: 225px 5px;
  border-top-left-radius: 255px 5px;
  border-top-right-radius: 5px 225px;
  border-color: #41403e;
  border-style: solid;
  border-width: 2px;
  max-width: 100%;
}